<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container">
    <form action="/uploads" enctype="multipart/form-data" method="POST">
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" name="image">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <button type="submit" class="btn">submit</button>
    </form>


</div>